.home {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 1.25rem;
}

.content {
  width: 100%;
  max-width: 40rem;
}

.top-section {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  margin-bottom: 1.25rem;
}

.home img {
  max-width: 15.625rem;
  border-radius: 0.625rem;
}

.info {
  max-width: 40rem;
  color: #222;
  font-size: 1.25rem;
}

.info p {
  margin-bottom: 0.9375rem;
}

.bottom-section {
  max-width: 40rem;
  color: #222;
  font-size: 1.25rem;
  text-align: left;
}
