.home {
    margin: 0 auto;
    display: flex;
    text-align: left;
    gap: 20px;
    padding: 20px;
  }
  .home img {
    max-width: 300px;
    border-radius: 10px;
    margin-right: 20px;
  }
  .home div {
    max-width: 650px;
    padding: 20px;
    color: #222;
    font-size: 20px;
  }
  