.projects {
    font-size: 20px;
}

.projects h2 {
    font-size: 24px;
}

.projects img {
    max-width: 80vw;
    max-height: 16rem;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .projects {
        font-size: 16px;
    }

    .projects h2 {
        font-size: 20px;
    }

    .projects img {
        max-width: 90vw;
        max-height: 16rem;
        width: auto;
        height: auto;
    }

    .projects div {
        margin-bottom: 1rem;
    }
}
