body {
    zoom: 0.70;
    background: #141414;
    color: #ffffff;
}

canvas {
    background: #202020;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: block;
}

.alignleft {
	float: left;
    position: relative;
    left: 25%;
}   
.alignright {
	float: right;
    position: relative;
    right: 25%;
}